/* Sidebar.css */
.sidebar {
    position: fixed; /* Fix the sidebar to the left side */
    top: 50%; /* Center it vertically */
    left: 0; /* Align it to the left */
    transform: translateY(-50%); /* Adjust for the height of the sidebar */
    width: fit-content;
    min-width: 50px;
    background-color: #222;
    color: #fff;
    z-index: 1000; /* Ensure it stays above other content */
}

.sidebar a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    /* border-radius: 5px; */
    display: flex; /* Ensures icons and text are aligned */
    align-items: center; /* Center align items vertically */
    padding: 10px; /* Add some padding for better spacing */
}

.sidebar a:hover {
    background-color: #fff; /* Background color on hover */
    color: #222; /* Text color on hover */
}

.sidebar-icon {
    transition: transform 0.2s; /* Smooth transition for scaling */
}

.sidebar-icon:hover {
    transform: scale(1.5); /* Scale effect on hover */
}